*,
*::before,
*::after { 
  box-sizing: border-box;
  user-select: none; /*Removes ability to highlight text/images*/
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #0E1F19;
}

.world {
  position: relative; 
}

.text{
  text-align: center;
  font-family: 'Courier New', Courier, sans-serif;
  font-size: calc(10px + 2vw);
  font-weight: bold;
  text-shadow: 1px 1px #ffffff;
}

.score {
  position: absolute;
  right: 2vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); 
}

.text-title{
  width: 75%;
  display: block;
  margin: auto;
}

.text-instructions{
  width: 80%;
  display: block;
  margin: auto;
}

/*To hide the start-screen and game lose text while the game is being played.*/
.hide, .lose-info {
  display: none;
}

.path {
  --left: 0;
  position: absolute;
  width: 150%;
  bottom: -10%;
  left: calc(var(--left) * 1%);
}

.ladybug {
  --bottom: 0;
  position: absolute;
  left: 6%;
  height: 35%;
  bottom: calc(var(--bottom) * 1%);
}

.obstacle {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.foreground {
  --left: 0;
  position: absolute;
  width: 100%;
  left: calc(var(--left) * 1%);
  transform: translateY(1%);
}

.background {
  --left: 0;
  position: absolute;
  width: 100%;
  left: calc(var(--left) * 1%);
  z-index: -1;
}

@media screen and (max-width: 768px){
  .text-instructions{
    width: 110%;
    display: block;
    margin: 0% -5%;
  }
}

@media screen and (max-width: 480px){
  .text-title{
    width: 100%;
    display: block;
    margin: auto;
  }
  .text-instructions{
    width: 160%;
    display: block;
    margin: 0% -30%;
  }
}